/*Ocultar margen a todo el HTML*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Añadir fuente al HTML*/
html, body {
    font-family: 'Cormorant Infant', serif;
    font-family: 'Open Sans', sans-serif;
}
/*Añadir fuente a los botones*/
button {
    font-family: 'Cormorant Infant', serif;
    font-family: 'Open Sans', sans-serif;
}

/*Ocultar bullet points de la lista*/
ul {
    list-style: none;
}

/*Ocultar diseño de link*/
a {
    text-decoration: none;
}

/*Clases utilitarias*/
.flex {
    display: flex;
}

/*Clases utilitarias*/
.align-items-center {
    align-items: center;
    margin-right: 69px;
}

/*Espacio entre logo y menu*/
.nav {
    justify-content: space-between;
    margin-top: 29px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

/*Diagramación del logo*/
.logo {
    margin-left: 69px;
} 

/*Ocultar items de los botones*/
.menu__expanded {
    display: none;
    z-index: 1;
}

/*Espacio entre items del menu*/
.menu__item {
    margin: 0 15px;
    position: relative;
}

/*Editar color de los items del menu*/
.menu__item a {
    color:white;
}

/*Interacción de menu item*/
.menu__item:hover {
    padding-bottom: 5px;
    box-shadow: 0 3px 0 #CC904E;
    
}

/*Ocultar fondo del boton*/
.menu__item button {
    color: #fff;
    background-color: transparent;
    border: none;
}

/*Tamaño de la fuente de los items del menu*/
.menu__item button, .menu__item a {
    font-size: 0.9em;
}

/*Ocultar menu desplegable*/
.menu__item:hover > .menu__expanded {
    display: block;
}

.current{
    padding-bottom: 5px;
    box-shadow: 0 3px 0 #CC904E;
}

/*Diagramación menu desplegable*/
.menu__expanded {
    position: absolute;
    background-color: #CC904E;
    padding: 10px 25px;
    left: 0;

}

/*Diagramación del banner*/
.banner {
    width: 100%;
    height: 600px;
}

/*Diagramación fondo del banner*/
.banner__background {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

/*Diagramación información del banner*/
.banner__info {
    margin: 5px 10px 10px 5px;
    padding: 150px;
    color: #fff;
    position: absolute;
}

/*Tamaño fuente del tituo del banner*/
.banner__title {
    font-size: 4em;
}

/*Tamaño fuente del texto del banner*/
.banner__text {
    font: 1em;
}

/*Editar color del link del banner*/
.banner a {
    color:#fff;
}

/*Digramación de los features*/
.features {
    padding: 20px 10px;
    width: 100%;
    height: 450px;
}

/*Diagramación columnas del features*/
.features__column {
    margin: 150px 69px 150px 69px;
}

.promotions {
    width: 100%;
    height: 600px;
}

.promotion__background {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.promotion__info {
    margin: 5px 10px 10px 5px;
    padding: 150px;
    color: #fff;
    position: absolute;
}

.promotion__title {
    font-size: 4em;
    color: #CC904E;
}

.promotion__text {
    font: 1em;
}

.promotion a {
    color:#fff;
}









